<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CMakeCXXCompilerId.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>caffe.bin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>caffe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>classification.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>compute_image_mean.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>convert_cifar_data.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>convert_imageset.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>convert_mnist_data.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>convert_mnist_siamese_data.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>device_query.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>extract_features.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>finetune_net.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>gtest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>lint.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>net_speed_benchmark.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>proto.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>runtest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>symlink_to_build.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>test.testbin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>test_net.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>train_net.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>upgrade_net_proto_binary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>upgrade_net_proto_text.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>upgrade_solver_proto_text.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>10E78B7974CE422C8BE86B2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>152DC2F1046941289121FA30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C2EB62949CD481B9F105DCD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FE07B0DA56148B9862BD1B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4401CC5E8F434EB796A4F934</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4588500383EF4A8586A6A8DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FB7DAB3C15842AFB16CB410</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50DA1A0963CC434BB1FB3B34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C7E23DB552B4F93AAE92831</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61038548B4DA45A88321D265</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>733485458A394EE0BB291270</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87E7EBE4429A481CBE064470</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909EAF9760E9478CB884D270</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>972AF007EF39420B9F165AF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D08AD93CB254C458D3B7EBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A88AEB67A8B24D65A64DBE9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3B08C9EBDBC4C6BB3C13CDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B401828412D346B69F004822</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B70A22D60F8742B5AC42D685</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCDCD6C19D014D38802AB653</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C1F418EB6E164065A61FEDDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8932DF0F70E48ED87675DD3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D1ECCABB4D324D4E975625A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDDE8528038F42E4B5BB8E3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EEDA022CBA2F4C2CA8908371</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F49E916DA2FA44B4944B7A4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9ADD49A846244ABAF9A5C66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
